.navbar{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px 0px;
    position: sticky;
    top: 0px;
    z-index: 2;
}
.navbar-contain{
  display: flex;
  justify-content: space-around;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
.listss{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listss li{
    list-style: none;
    margin: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.cart{
    border: 1px solid white;
    border-radius: 10%;
}
.cart button{
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
